html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: Roboto;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

header {
    font-size: 24px;
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 15%;
}

h4 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

 .hero-sec {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px 15%;
 }

 #hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
 }
 
 .information-sec {
    color: gray;
 }

 #info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
 }

 .quote-sec {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 25%;
 }

 #hero-quote {
    font-size: 36px;
 }

 .call-to-action-sec {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 75px;
    margin: 100px;
 }

 footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;
 }