body {
    font: Roboto;
}

header {
    font-size: 24px;
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

 .hero-sec {
    background-color: #1F2937;
    color: #E5E7EB;
 }

 #hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
 }
 
 .information-sec {
    color: gray;
 }

 #info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
 }

 .quote-sec {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 20px;
 }

 #hero-quote {
    font-size: 36px;
 }

 .call-to-action-sec {
    background-color: #3882F6;
    color: #F9FAF8;
 }

 footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
 }